{% load staticfiles %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'social/css/competence.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'social/css/flat/flat-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'social/css/rate.css' %}">
    <title>{{ competence.title }}</title>
</head>


<body>
<button class="button glass blue-a" type="button"></button>
<div id="fader" >

</div>
<div class="header">
    <div id="Logo-image">
        <img  src="{% static 'social/images/logo.png' %}"/>
    </div>
    <div id="Search-div">
        <form id="Search-form">
            <label id="Search-label">Search</label>
            <input type="text" placeholder="Projects, People" id="Search-input" class="psychograph-input" />
            <input type="button" id="Search-icon" />
        </form>
    </div>
    <div id="searchResultSection">
        <div id="innerSearch">
            <div class="ajaxLogoSearch">
                <img src="../../static/social/images/loading.gif" height="40px">
            </div>
            <div class="notfound">
                <p>Nothing found please try something else</p>
            </div>
            <div class="itemSearch">
            </div>
        </div>
    </div>
    <div id="notificationBox">
        <div class="ajaxLogoNotification">
            <img src="../../static/social/images/loading.gif" height="40px">
        </div>
    </div>
    <div id="notificationNumber">

        {% ifnotequal request.session.totalNotification 0 %}
            {{ request.session.totalNotification }}
        {%  endifnotequal %}
    </div>
    <div id="Menu-wrapper">
        <div id="Menu-div">
            <!--<div id="Notification-div"><a id="Notification-link" href="#"><div id="Notification-icon"></div></a></div>-->
            <div id="Home-div"><a id="Home-link" href="/"><div id="Home-icon"></div></a></div>

            <div id="Notification-div"><a href="#"><div id="notification-icon"></div></a></div>
            <div id="Exit-div"><a id="Exit-link" href="/logout"><div id="Exit-icon"></div></a></div>
        </div>
    </div>
</div>
<div id="Main-div">
    <!--<div id="Col-2">
    </div>
    <div id="Col-1">
        <div id="Psychograph-image-div">
            <div id="Psychograph-image" style="background-image:url({{ myUrl }});"></div>
        </div>
        <div id="Score-div">
            <label id="Score">Score</label>
            <span id="Score-text">{{ myUser.score }}</span>
        </div>
        <p><label>First Name: </label>{{ myUser.firstName }}</p>
        <p><label>Last Name: </label>{{ myUser.lastName }}</p>
        <p><label>Email: </label>{{ myUser.email }}</p>
    </div>-->
    <div id="Com-div">
        <div id="Right-div">
            <section id="wrapper" class="wrapper">
                <h1 id="Content-title">{{ competence.title }}</h1>
                <div class="Com-content">
                    <div class="Right-content">
                        {% if competence.usage %}
                            <h3 class="form-label">Usage</h3>
                            <p>{{ competence.usage }}</p>
                        {% endif %}
                        <h3 class="form-label">Tags</h3>
                        <div class="project-tag">
                            {% for atag in comTags %}
                                <div class="tag-span"> {{ atag }} </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="Left-content">
                        <h3 class="form-label">Description</h3>
                        <p>{{ competence.content }}</p>
                        <h3 class="form-label">Manager</h3>
                        <p>{{ competence.manager }}</p>
                        <h3 class="form-label" id="creationDate">Created on</h3>
                        <p id="creationDate-p">{{ creationDate }}</p>
                    </div>
                </div>
            </section>
        </div>
        <div id="Left-div">
            <div id="Competence-image-div">
                <div id="Competence-image" style="background-image:url('../..{{ pictureUrl }}');"></div>
            </div>
            <div id="Score-div">
                <label id="Score">Score</label>
                <span id="Score-text">{{ competence.vote }}</span>
            </div>
            <div class="input select rating-a">
                <select name="rating" id="exprolife-rating" style="display: none;">
                    <option value="-2">-2</option>
                    <option value="-1">-1</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <p><label>Title: </label>{{ competence.title }}</p>
            <p><label>Developed by: </label>{{ competence.developers }}</p>
            <p id="com" style="display: none"><label>Developed by: </label>{{ competence.user.firstName }} {{ competence.user.lastName }} </p>
            <p id="id" style="display: none">{{ competence.id }}</p>
            <p id="hash" style="display: none" >{{ me }}</p>
            <p id="email" style="display: none" >{{ email }}</p>
        </div>
    </div>
    <div id="table">
        <div id="pizza">
            <form method="get" action="">
                <textarea name="comment" placeholder="Leave your comment"></textarea>
                <button class="big-button" id="submit_comment"  value="Submit">
                    Submit
                </button>
            </form>
        </div>
        <div id="hamburger">
        </div>
    </div>
    {% if comment %}
        <ul class="comments">

            {% for k in comment %}
                {% if k.depth == 0 %}
                    <li class="comment" id='myID+{{ k.id }}'>
                        <a href="/{{ k.firstName }}.{{ k.lastName }}" title="View this user profile" class="photo"><img style="width: 35px" src={{ k.email }}  > </a>
                        <div class="meta" >{{ k.firstName }} {{ k.lastName }} | {{ k.time }} {% if k.email == me %} <a class="remove">Remove</a>{% else %}<a class="reply">Reply</a>{% endif %}</div>
                        <div class="body">{{ k.content }}</div>
                        <span id="comment_id" style="display: none">{{ k.id }}</span>
                    </li>
                    {% for j in comment %}
                        {% if j.refer == k.id %}
                            <li class="comment level-{{ j.depth }}" id='myID+{{ j.id }}'>
                                <a href="/{{ j.firstName }}.{{ j.lastName }}" title="View this user profile" class="photo"><img style="width: 35px" src={{ j.email }}  > </a>
                                <div class="meta" >{{ j.firstName }} {{ j.lastName }} | {{ j.time }} {% if j.email == me %}<a class="remove">Remove</a> {% else %}<a class="reply">Reply</a>{% endif %}</div>
                                <div class="body">{{ j.content }}</div>
                                <span id="comment_id" style="display: none">{{ j.id }}</span>
                            </li>
                            {% for u in comment %}
                                {% if u.refer == j.id %}
                                    <li class="comment level-{{ u.depth }}" id='myID+{{ u.id }}'>
                                        <a href="/{{ u.firstName }}.{{ u.lastName }}" title="View this user profile" class="photo"><img style="width: 35px" src={{ u.email }}  > </a>
                                        <div class="meta" >{{ u.firstName }} {{ u.lastName }} | {{ u.time }} {% if u.email == me %}<a class="remove">Remove</a> {% else %}<a class="reply">Reply</a>{% endif %}</div>
                                        <div class="body">{{ u.content }}</div>
                                        <span id="comment_id" style="display: none">{{ u.id }}</span>
                                    </li>
                                    {% for p in comment %}
                                        {% if p.refer == u.id %}
                                            <li class="comment level-{{ p.depth }}" id='myID+{{ p.id }}'>
                                                <a href="/{{ p.firstName }}.{{ p.lastName }}" title="View this user profile" class="photo"><img style="width: 35px" src={{ p.email }}  > </a>
                                                <div class="meta" >{{ p.firstName }} {{ p.lastName }} | {{ p.time }}{% if p.email == me %}<a class="remove">Remove</a>{% endif %} </div>
                                                <div class="body">{{ p.content }}</div>
                                                <span id="comment_id" style="display: none">{{ p.id }}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <ul class="comments" style="display: none">
        </ul>
    {% endif %}
</div>
<div id="down-footer">
    {{ amIMe }}
    <li> CopyRight 2013 - ExProLife </li>
</div>

<script type="text/javascript" src="{% static 'social/js/jquery-2.0.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'social/js/socket.io.js' %}"></script>
<script type="text/javascript" src="{% static 'social/js/jquery.ba-hashchange.js' %}"></script>
<script> var NUM = '{{ projectRateNumber }}'</script>
<script type="text/javascript" src="{% static 'social/js/psychographPage.js' %}"></script>
{% ifnotequal amIMe 1 %}
<script type="text/javascript" src="{% static 'social/js/rate.js' %}"></script>
{% endifnotequal %}
<script type="text/javascript">
    $(function() {
    		$('#exprolife-rating').barrating();
    });
</script>
</body>
</html>
