{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'social/css/homepage.css' %}">
    </head>
    <body>
    {% if error %}
        <div class="alert">
            <p> {{ error }} </p>
        </div>
    {% endif %}
    {% if isNOTOK %}
        <div class="registerAlert">
            <h4> correct This Errors: </h4>
            {% if FNE %}
                <p> {{ FNE }}</p>
            {% endif %}
            {% if LNE %}
                <p>{{ LNE }}</p>
            {% endif %}
            {% if EME %}
                <p>{{ EME }}</p>
            {% endif %}
            {% if SXE %}
                <p>{{ SXE }}</p>
            {% endif %}
            {% if PAE %}
                <p>{{ PAE }}</p>
            {% endif %}
            {% if RPE %}
                <p>{{ RPE }}</p>
            {% endif %}
        </div>
    {% endif %}
        <!-- this is the gray layer that covered all of the screen when REGISTER clicked-->
        <div id="fadeLayer" {% if isNOTOK %}style="display: block;" {% endif %}></div>
        <form id="mainRegisterForm" action="/" method="post" >
            {% csrf_token %}
            <div id="registerForm" {% if isNOTOK %} style="display: block;" {% endif %}>
                <div id="leftRegisterContent">
                    <div id="upContent">
                        <div id="innerUpContent">
                            <div class="arrow-right"></div>
                            <h3>Please fill the fields below:</h3>
                            <div class="fieldRow">
                                <input class= "RegisterInput" name="firstname" type="text" placeholder="First Name">
                                <div class="arrow-left"></div>
                                <div class="information">Firstname contains numbers and letters</div>
                                <img class="correct" src="{% static 'social/images/correct.png' %}" width="30px">
                                <img class="notCorrect" src="{% static 'social/images/notCorrect.png' %}" width="30px">
                            </div>
                            <div class="fieldRow">
                                <input class= "RegisterInput" name="lastname" type="text" placeholder="Last Name">
                                <div class="arrow-left"></div>
                                <div class="information">Lastname contains numbers and letters</div>
                                <img class="correct" src="{% static 'social/images/correct.png' %}" width="30px">
                                <img class="notCorrect" src="{% static 'social/images/notCorrect.png' %}" width="30px">
                            </div>
                            <div class="fieldRow">
                                <input class= "RegisterInput long1" name="email" type="text" placeholder="Email@address.com">

                                <div class="arrow-left"></div>
                                <div class="information">Enter valid Email address</div>
                                <img class="ajaxEmailCheck long" src="{% static 'social/images/loading2.gif' %}" width="30px">
                                <img class="correct long" src="{% static 'social/images/correct.png' %}" width="30px">
                                <img class="notCorrect long" src="{% static 'social/images/notCorrect.png' %}" width="30px">
                            </div>
                            <div class="fieldRow" style="margin-top: 20px;">
                                <input id="male" type="radio" name="gender" value="male">
    	                        <label for="male">Male</label>
                                <input id="female" type="radio" name="gender" value="female">
    	                        <label for="female">Female</label>
                                <div class="arrow-left"></div>
                                <div class="information">please select your gender</div>
                            </div>
                            <input id="male" type="hidden" name="registerButton" value="yes">
                            <div class="fieldRow">
                                <input class= "RegisterInput" name="password" type="password" placeholder="password">
                                <div class="arrow-left"></div>
                                <div class="information">Enter your password (at least 6 characters)</div>
                                <img class="correct" src="{% static 'social/images/correct.png' %}" width="30px">
                                <img class="notCorrect" src="{% static 'social/images/notCorrect.png' %}" width="30px">
                            </div>
                            <div class="fieldRow">
                                <input class= "RegisterInput" name="rePass" type="password" placeholder="retype password">
                                <div class="arrow-left"></div>
                                <div class="information">retype your password</div>
                                <img class="correct" src="{% static 'social/images/correct.png' %}" width="30px">
                                <img class="notCorrect" src="{% static 'social/images/notCorrect.png' %}" width="30px">
                            </div>
                        </div>
                    </div>
                    <input class="RegisterButton left red" type="button" value="Skip this step">
                    <input class="RegisterButton right green" name="registerSubmit" type="submit" value="Continue">
                    <img class="ajaxLogoRegister" width="80px" src="{% static 'social/images/loading3.gif' %}">
                    <div id="registerCloseIcon">
                        <img src="{% static 'social/images/close.png' %}" width="50px">
                    </div>
                </div>
                <div id="rightSteps">
                    <div class="step not-accepted">
                        <div class="innerStep">
                            <img src="{% static 'social/images/identity.png' %}" width="90px" >
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="header">
            <div id="logo">
                <img src="{% static 'social/images/logo.png' %}">
            </div>
            <div id="top">
                <div id="loginClose">
                    <img src="{% static 'social/images/close.png' %}" width="30px">
                </div>
                <div id="login">
                    <h1>
                        Login
                    </h1>
                    <form action="/" method="post" >
                        {% csrf_token %}
                        <div id="innerForm">
                            <input class="input" name = "email" type="text" placeholder="Email Address">
                            <input class="input" name = "password" type="password" placeholder="password">
                            <input class="button" name="loginSubmit" type="submit" value="Login">
                        </div>
                    </form>

                </div>
                <div id="register">
                    <h1>
                        Register
                    </h1>
                </div>
            </div>
        </div>
        <div id="slider">
		    <div id="slideshow">
    		    <img src="{% static 'social/images/slide1.jpg' %}" class="active">
    		    <img src="{% static 'social/images/slide2.jpg' %}">
        		<img src="{% static 'social/images/slide3.jpg' %}">
    		    <img src="{% static 'social/images/slide4.jpg' %}">
        		<img src="{% static 'social/images/slide5.jpg' %}">
            </div>
        </div>
 <div id="footer">
            <div id="upper-footer">
                <div class="left1">
                    <li >
                        <a href="#">
                            account
                        </a>
                    </li>

                    <li >Sign in</li>
                    <li id="sign">Sign up </li>
                </div>
                <div class="left2">
                    <a href="#"><li>Contact Us</li></a>
                    <li id="about">about us</li>
                </div>
                <div class="left3">
                    <img src="{% static 'social/images/footer-logo.png' %}">
                </div>
                <div class="left4">
                    <p><li>This is a social network that help experts to know
                    each other and communicate with each other</li></p>
                </div>
            </div>
            <div id="down-footer">
                CopyRight 2013 - ExProLife
            </div>
        </div>
        <script src="{% static 'social/js/jquery-1.2.6.min.js' %}"></script>

        <script type="text/javascript">
            function slideSwitch() {
                var $active = $('#slideshow IMG.active');
                if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

                // use this to pull the images in the order they appear in the markup
                var $next =  $active.next().length ? $active.next()
                    : $('#slideshow IMG:first');

                // uncomment the 3 lines below to pull the images in random order

                // var $sibs  = $active.siblings();
                // var rndNum = Math.floor(Math.random() * $sibs.length );
                // var $next  = $( $sibs[ rndNum ] );
                $active.addClass('last-active');

                $next.css({opacity: 0.0})
                    .addClass('active')
                    .animate({opacity: 1.0}, 1000, function() {
                        $active.removeClass('active last-active');
                    });
            }

            $(function() {
                setInterval( "slideSwitch()", 5000 );
            });

        </script>
        <script src="{% static 'social/js/jquery-2.0.3.min.js' %}"></script>
        <script src="{% static 'social/js/homepage.js' %}"></script>
    </body>
</html>