{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'social/css/psychograph.css' %}">
        <script type="text/javascript" src="{% static 'social/js/jquery-2.0.3.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'social/js/jquery.ba-hashchange.js' %}"></script>
		<script type="text/javascript" src="{% static 'social/js/script.js' %}"></script>
        <title>Wellcome {{ request.session.first_name }}</title>
    </head>


<body>
    <div class="header">
    	<div id="Logo-image">
    		<img  src="logo.png"/>
        </div>
        <div id="Search-div">
      		<form id="Search-form">
        		<label id="Search-label">Search</label>
          		<input type="text" placeholder="Projects, People" id="Search-input" class="psychograph-input" />
                <input type="button" id="Search-icon" />
        	</form>
        </div>
        <div id="searchResultSection">
            <div id="innerSearch">
                <div class="ajaxLogoSearch">
                    <img src="../../static/social/images/loading.gif" height="40px">
                </div>
                <div class="notfound">
                    <p>Nothing found please try something else</p>
                </div>
                <div class="itemSearch">
                </div>
            </div>
        </div>
        <div id="Menu-wrapper">
        	<div id="Menu-div">
        		<div id="Notification-div"><a id="Notification-link" href="#"><div id="Notification-icon"></div></a></div>
                <div id="Home-div"><a id="Home-link" href="#"><div id="Home-icon"></div></a></div>
                <div id="Exit-div"><a id="Exit-link" href="/logout"><div id="Exit-icon"></div></a></div>
    	    </div>
        </div>
    </div>

    <div id="Main-div">
    	<div id="Col-2">
			<section id="wrapper" class="wrapper">
				<h1 id="Content-title">Pouria Faraji</h1>
				<div id="v-nav">
					<ul>
						<li tab="tab1" class="first current">Edit</li>
						<li tab="tab2">Test1</li>
						<li tab="tab3">Test2</li>
						<li tab="tab4" class="last">Test3</li>
					</ul>
					<div class="tab-content">
						<h3>Edit</h3>
						<div id="Edit-form">
							<h3 class="form-label">First Name</h3>
							<input type="text" id="First-text" class="psychograph-input" value="Pouria" />
							<h3 class="form-label">Last Name</h3>
							<input type="text" id="Last-text" class="psychograph-input" value="Faraji" />
							<h3 class="form-label">Email</h3>
							<input type="text" id="Email-text" class="psychograph-input" value="Pouria.faraji@gmail.com" />
							<br />
							<div id="Save-div"><a href="#fakelink"  id="Save-button">Save</a></div>
						</div>
					</div>
					<div class="tab-content">
						<h3>Test1</h3>
					</div>
					<div class="tab-content">
						<h3>Test2</h3>
					</div>
					<div class="tab-content">
						<h3>Test3</h3>
					</div>
				</div>
			</section>
		</div>
		<div id="Col-1">
		
			<div id="Psychograph-image-div">
				<div id="Psychograph-image"></div>
			</div>
			<div id="Score-div">
			<label id="Score">Score</label>
			<span id="Score-text">9.8</span>
			</div>
		</div>
		
    </div>
    <script src="{% static 'social/js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'social/js/psychographPage.js' %}"></script>
</body>
</html>