/*my lcd ineerwidth : 1200
  my lcd innerheight: 850*/
body{
    margin: 0;
    background-color: #eeeef0;
}
    #header{
        margin-bottom: 20px;
        width:100%;
        height: 100px;
    }

    #top{
        padding: 2% 2% 2% 0;
        height: 80%;
        position: relative;
        overflow: visible;
    }

        #login{
            border: none;
            background: #1abc9c;
            color: #ffffff;
            border-radius: 6px;
            -webkit-transition: 0.25s linear;
            -moz-transition: 0.25s linear;
            -o-transition: 0.25s linear;
            transition: 0.25s linear;
            -webkit-backface-visibility: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            overflow: hidden;
            /*color:white;*/
            float:right;
            width: 30%;
            height: 80px;
            /*background-color: #2980B9;*/
            text-align: center ;
            cursor: pointer;
        }
            .input{
                float:left;
                margin: 3% 0 0 2%;
                width: 40%;
                height: 40%;
                background: #BDC3C7;
                padding-left: 3%;

            }

            .input:focus{
                background: #d2d6d7;
            }

            .button{
                /*margin-top: 8px;*/
                width:15%;
                height:40% ;
                cursor: pointer;
                background: #BDC3C7;

            }

            .button:hover{
                background: #ECF0F1;
            }

            #loginClose{
                opacity: 0.8;
                display: none;
                position: relative;
                z-index: 1;
                cursor: pointer;
            }

            #loginClose img{
                float:right;
                width: 35px;
            }

            #loginClose:hover{
                opacity: 1.0;
            }

        #login:hover{
            background-color: #1bd5b3;
        }

        #register{
            border: none;
            border-radius: 6px;
            -webkit-transition: 0.25s linear;
            -moz-transition: 0.25s linear;
            -o-transition: 0.25s linear;
            transition: 0.25s linear;
            -webkit-backface-visibility: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            color: white;
            float:right;
            width: 30%;
            height: 80px;
            background-color: #D35400;
            text-align: center ;
            cursor: pointer;
        }

        #register:hover{
            background-color: #E67E22;
        }

    #logo{
        margin-top: -2%;
        width: 30%;
        top:0;
        float:left;
    }
    #slider{
        background-color: #c9c9cb;
        height: 100%;
        width: 100%;
        vertical-align:middle;
        text-align: center;
    }
    #fadeLayer{
        display: none;
        top: 0;
        bottom: 0;
        z-index: 10;
        position: absolute;
        height: 11120px;
        width: 100%;
        background: rgba(103, 103, 105, 0.64);
    }

    #registerForm{
        display: none;
        position: absolute;
        z-index: 11;
        top:10%;
        right:15%;
        border-radius: 6px;
        left:15%;
        height: 700px;
        /*bottom: 70px;*/
        background-color: transparent;
    }
        #leftRegisterContent{
            float:left;
            border-radius: 6px;
            width: 85%;
            height: 100%;
            background: #1abc9c;
        }
            #leftRegisterContent input[type=button],#leftRegisterContent input[type=submit]{
                margin:10px 20px 0 20px;
            }
            #upContent{
                width: 100%;
                height: 85%;
                background: #1abc9c;
            }
                #innerUpContent{
                    margin:20px 20px 20px 20px;
                    height:100%;
                    background: #edeff1;
                }
                    #innerUpContent h3 {
                        padding: 20px 0 0 20px;
                    }
                    #innerUpContent input{
                        margin-left: 20px;
                    }
                    .fieldRow{
                        float:left;
                        width:100%;
                        height: 8%;
                        margin:10px 0 10px 0;
                    }
                        label[for="male"], label[for="female"]{
                            float:left;
                        }

                    .ajaxEmailCheck, .correct, .notCorrect{
                        z-index: 1001;
                        position: absolute;
                        left:200px;
                        margin-top: 10px;
                        display: none;
                    }

                    .long{
                        left:300px;
                    }

                    .RegisterInput{
                        position: relative;
                        z-index: 1000;
                        float: left;
                        padding-left: 10px;
                        background: white;
                        outline: none;
                        border:2px;
                        color: #34495e;
                        height:48px;
                        border-radius: 6px;
                        font-family: 'Lato', Helvetica, Arial, sans-serif;;
                        font-size: 16px;
                        -webkit-transition: 0.25s;
                        -moz-transition: 0.25s;
                        -o-transition: 0.25s;
                        transition: 0.25s;
                    }

                    .RegisterInput:focus{
                        background: #fffdd5;

                        border-color: #ffff1a;
                        box-shadow:0 0 10px #f0ff50;
                    }

                    label {
                        display: inline-block;
	                    cursor: pointer;
    	                position: relative;
    	                padding-left: 25px;
	                    margin-right: 15px;
	                    font-size: 13px;
                    }

                    input[type=radio] {
                    	display: none;
                    }

                    label:before {
                    	content: "";
	                    display: inline-block;
	                    width: 16px;
	                    height: 16px;
	                    margin-right: 10px;
	                    bottom: 1px;
	                    background-color: #e8e8e8;
	                    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
                    }

                    .fieldRow label:before {
                    	border-radius: 8px;
                    }

                    input[type=radio]:checked + label:before {
                        content: "\2713";
                        color: #6b6b6b;
                        font-size: 30px;
                        text-align: center;
                        line-height: 18px;
                    }

                    .arrow-right{
                        margin-right: -20px;
                        float:right;
                        width: 0;
                        height: 0;
                        border-top: 20px solid transparent;
                        border-bottom: 20px solid transparent;
                        border-left: 20px solid #edeff1;
                        margin-top: 25px;
                    }

                    .arrow-left{
                        -webkit-transition: 0.25s linear;
                        -moz-transition: 0.25s linear;
                        -o-transition: 0.25s linear;
                        transition: 0.25s linear;
                        opacity: 0;
                        margin-top: 10px;
                        margin-left: -30px;
                        float:left;
                        width: 0;
	                    height: 0;
	                    border-top: 10px solid transparent;
	                    border-bottom: 10px solid transparent;
	                    border-right:10px solid #c9cbcd;
                    }

                    .information{
                        -webkit-transition: 0.25s linear;
                        -moz-transition: 0.25s linear;
                        -o-transition: 0.25s linear;
                        transition: 0.25s linear;
                        opacity: 0;
                        font-size: 20px;
                        padding: 10px 20px 0 20px;
                        min-width: 200px;
                        float: left;
                        height: 80%;
                        background: #c9cbcd;
                    }

            #downContent{
                width: 100%;
                height: 12%;
                background: #1abc9c;
            }
        #rightSteps{
            width: 15%;
            height:100%;
            float:right;
            border-radius: 6px;
            background: #34495e;
        }
            .step{
                width: 100%;
                height:100px;
                line-height: 100px;
            }
                .innerStep{
                    margin:0 10px 0 20px;
                }

                .innerStep img{
                    width: 100%;
                    height: 100%;
                }

                .Long1{
                    width:300px;
                }

                .not-accepted{
                    background: rgba(255, 255, 255, 0.56);
                }

                .accepted{
                    background: green;
                }

                .RegisterButton{
                    border: none;
                    border-radius: 6px;
                    -webkit-transition: 0.25s linear;
                    -moz-transition: 0.25s linear;
                    -o-transition: 0.25s linear;
                    transition: 0.25s linear;
                    -webkit-backface-visibility: hidden;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -o-user-select: none;
                    user-select: none;
                    color: white;
                    float:left;
                    width: 100px;
                    height:50px;
                    background-color: #d30b1d;
                    text-align: center ;
                    cursor: pointer;
                }

                .red:hover{
                    background: #ee0003;
                }

                .green:hover{
                    background-color: #33e37d;
                }

                .right{
                    float:right;
                }

                .left{
                    float:left;
                }

                .red{
                    background-color: #d30b1d;
                }

                .green{
                    background: #2ecc71;
                }
    #registerCloseIcon{
        opacity: 0.8;
        position: absolute;
        z-index: 12;
        top: -20px;
        left:-20px;
        cursor: pointer;
    }

    #registerCloseIcon:hover{
        opacity: 1.0;
    }
		
    #slideshow {
		margin:0 auto;
		position:relative;
        background-color: #d7d7d9;
        height: 100%;
		width:80%;
    }

    #slideshow IMG {
        position:absolute;
    	width: 100%;
        height: 100%;
        border-radius: 8px;
        left:0px;
        z-index:8;
        opacity:0.0;
    }

    #slideshow IMG.active {
        z-index:10;
        opacity:1.0;
    }

    #slideshow IMG.last-active {
        z-index:9;
    }

    .ajaxLogoRegister{
        display: none;
        float:right;

    }

    .alert{
        z-index: 9999;
        right:50px;
        bottom: 50px;

        float: right;
        width: 300px;
        padding: 10px 35px 10px 14px;
        border-radius: 4px;
        position: absolute;
        background: #f04b40;
        border-color: #cd584d;
        color: #fff7f4;
    }



    .registerAlert{
        z-index: 9999;
        padding: 10px 35px 10px 14px;
        border-radius: 4px;
        position: absolute;
        left: 50%;
        width: 500px;
        margin-left: -250px;
        bottom: 0;
        background: rgba(240, 75, 64, 0.71);
        border-color: #cd584d;
        color: #fff7f4;
    }

    .registerAlert h4{
        text-align: center;
    }

    #footer{
        width:100%;
        background: #3f4944;
        height:400px;
    }

    #upper-footer{
        width:100%;
        background: #7e8d88;
        height: 70%;
    }

    #down-footer{
        width:100%;
        height:20%;
        text-align: center;
        font-size: 18;
    }

    .left1, .left2, .right1, .right2{
        padding-top: 3%;
        height:100%;
        width:20%;
        text-align: center;
    }

    .left1, .left2{
        float:left;
    }

    .right1{
        width:40%;
    }

    .right1, .right2{
        float:right;
    }

    .left1 li,.left2 li, .right1 li, .right2 li{
        list-style-type: none;
        color: #d7d7d9;
        font-size: 18;
        line-height: 30px;
    }

    .left1 a, .left2 a, .right1 a, .right2 a{
        color: #d7d7d9;
    }

